#=============================
# Environment / Secret 
#=============================
.env
.env.*
*.env
#=============================
# GCP / API Credentials Keys
#=============================
*.json
#=============================
# Data files
#=============================
*.csv
*.parquet
#============================
# Terraform
#============================
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
#============================
# Python
#============================
__pycache__/
*.py[cod]
.venv/
venv/